@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #FF8400;
}

html, body {
    height: 100%;
    font-family: "Raleway", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.form-group {
    margin-bottom:30px;

}
input {
    padding: 12px 20px;
    margin: 8px 8px;
    box-sizing: border-box;   
}

a { 
    font-family: "Raleway", sans-serif;
    color: rgb(3, 125, 141);
    padding: 1px 15px;
    font-size: medium;
    text-decoration: none;

}

a:hover{
    color: rgb(2, 8, 43);
}

.img{
    padding: 1px 5px;
}

